<div class="container">
  <h1>PMS Dashboard</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Project Overview</div>
        <div class="card-body">
          <!-- Project stats will be loaded here -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Recent Tasks</div>
        <div class="card-body">
          <!-- Recent tasks will be loaded here -->
        </div>
      </div>
    </div>
  </div>
</div>